.git
.gitattributes
.gitignore
.editorconfig
.env
.env.local
.env.local.php
.env.*.local
compose.override.yaml
docs
var
vendor
public/uploads
public/bundles
public/media/products/*
!public/media/products/.gitkeep
.phpunit.cache
phpunit.dist.xml
phpunit.xml
tests
